.appointment-section {
    margin: 50px;
    min-height: 65vh;
}

.appointment-section p {
    font-size: 22px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding: 10px 0px;
}

.box {
    padding: 20px;
    text-align: center;
    margin: 10px;
    border: 1px solid #addbc6;
    border-radius: 20px;
}

.box h2 {
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 30px;
}

.box p {
    font-size: 22px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding: 10px 0px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 0 0.2em;
}

.rating input {
    display: none;
}

.rating label {
    color: #ccc;
    cursor: pointer;
}

.rating label::before {
    content: "★";
}

.rating input:checked~label {
    color: #f90;
}

.rating label:hover,
.rating label:hover~label {
    color: #f90;
}

.rating input:checked~label:hover,
.rating input:checked~label:hover~label {
    color: #f90;
}