.contact-section {
    background-color: #E7CEB9;
}

.contact-elements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0% 25%;
    min-height: 100vh;
}

.contact-elements h1 {
    color: #231F20;
    font-size: 72px;
    font-family: "Playfair Display", serif;
    padding: 10px 0px;
}

.contact-elements h2 {
    color: #231F20;
    font-size: 42px;
    font-family: "Playfair Display", serif;
    padding: 10px 0px;
}

.contact-elements h3 {
    color: #231F20;
    font-size: 26px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding: 10px 0px;
}

.contact-elements p,
a {
    color: #231F20;
    font-size: 22px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    padding: 10px 0px;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .contact-elements {
        margin: 0 10%;
    }

    .contact-elements h1 {
        font-size: 48px;
    }

    .contact-elements h2 {
        font-size: 32px;
    }

    .contact-elements h3 {
        font-size: 20px;
    }

    .contact-elements p,
    a {
        font-size: 18px;
    }
}

/* Media Query for Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
    .contact-elements {
        margin: 0 15%;
    }

    .contact-elements h1 {
        font-size: 60px;
    }

    .contact-elements h2 {
        font-size: 36px;
    }

    .contact-elements h3 {
        font-size: 24px;
    }

    .contact-elements p,
    a {
        font-size: 20px;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
    .contact-elements {
        margin: 0 25%;
    }

    .contact-elements h1 {
        font-size: 72px;
    }

    .contact-elements h2 {
        font-size: 42px;
    }

    .contact-elements h3 {
        font-size: 26px;
    }

    .contact-elements p,
    a {
        font-size: 22px;
    }
}